// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagehead {
  font-family: 'Bungee Shade', cursive;
  font-size: 100px;
  height: 100px;
  padding-bottom: 150px;
  padding-top: -75px;
  left: 40%;
  text-align: center;
}

.post {
  display: inline-block;
  margin: 10px 20px 10px 10px;
  border-width: 3px;
  border-color: black;
  border-style: groove;
  // background-color: salmon;
  padding: 20px 20px 20px 20px;
}

#container {
  text-align: center;
}

#postimage {
margin:0;
padding: 0;
width: 300px;
height:300px;
left: 10px;
top: 10px;
border: 10px solid black;
box-shadow: gray 5px 5px 12px;
overflow: hidden;
border-top-left-radius: 50px;
-moz-border-radius-top-left: 50px ;
-webkit-border-radius-top-left: 50px;
}

#description {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  width: 300px;
  height: 50px;
  overflow: scroll;
}

.editdelete {
  width: auto;
  height: auto;
  display: inline-block;
}

#edit {
  color: black;
  border: 3px white solid;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    margin: 15px 30px;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
#edit:hover {
  border: 3px solid;
  border-color: inherit;
}

#delete {
color: red;
  border: 3px white solid;
    font-family: 'Alfa Slab One', cursive;
    font-size: inherit;
    text-decoration: none;
    color: red;
    background: none;
    padding: 5px 10px;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#delete:hover {
  border: 3px red solid;
}

//
// font-family: 'Anton', sans-serif;
// font-family: 'Bungee Inline', cursive;
// font-family: 'Alfa Slab One', cursive;
// font-family: 'Slabo 27px', serif;
